<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

	<springProperty name="application-name" source="spring.application.name" />

	<property name="logback.logDir" value="/data/logs/${application-name}" />

	<contextName>${application-name}</contextName>

	<!--输出到控制台 ConsoleAppender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!--展示格式 layout -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%t] %-5level %logger{36}.%M\(%file:%line\) - %msg%n</pattern>
		</encoder>
	</appender>

	<!--输出到控制台 ConsoleAppender -->
	<appender name="simpleconsole" class="ch.qos.logback.core.ConsoleAppender">
		<!--展示格式 layout -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%logger{36} %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logback.logDir}/${application-name}.log</File>
		<!--滚动策略，按照时间滚动 TimeBasedRollingPolicy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间 -->
			<FileNamePattern>${logback.logDir}/${application-name}.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
			<!-- 单个日志文件最多 100MB -->
			<maxFileSize>100MB</maxFileSize>
			<!--只保留最近30天的日志 -->
			<maxHistory>30</maxHistory>
			<!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<!--日志输出编码格式化 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%t] %-5level %logger{36}.%M\(%file:%line\) - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="warn" />

	<!--当前日志级别 -->
	<root level="debug">
		<appender-ref ref="console" />
	</root>

</configuration>